.bt_menu {
    -fx-alignment: CENTER;
    -fx-max-width: 200px;
    -fx-max-height: 40px;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-text-fill: rgb(255,255,255);
    -fx-border-width: 2px;
    -fx-border-style: none;
    -fx-box-sizing: border-box;
    -fx-background-color: rgb(102,255,102);
    -fx-border-color: rgb(72,125,72);
}

.bt_menu:hover {
    -fx-background-color: rgb(72,125,72);
}

.bt_image{
    -fx-background-size: stretch;
}

.user{
    -fx-background-image: url('./images/winGame.png');
}

.machine{
    -fx-background-image: url('./images/lostGame.png');
}

.draw{
    -fx-background-image: url('./images/lostGame.png');
}
