.bt {
    -fx-alignment: CENTER;
    -fx-max-width: 100px;
    -fx-max-height: 40px;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-text-fill: rgb(255,255,255);
    -fx-border-width: 2px;
    -fx-border-style: none;
    -fx-box-sizing: border-box;
}

.bt_enabled:hover {
    -fx-background-color: rgb(71,125,67);
}

.bt_enabled {
    -fx-background-color: rgb(83,173,76);
    -fx-border-color: rgb(71,125,67);
}

.bt_disabled {
    -fx-background-color: rgb(133,203,126);
    -fx-border-color: rgb(121,175,117);
}

.popup {
    -fx-text-fill: rgb(255,255,255);
    -fx-padding: 10px;
    -fx-max-width: 100px;
    -fx-max-height: 25px;
    -fx-min-width: 100px;
    -fx-min-height: 25px;
    -fx-background-color: rgb(83,173,76);
    -fx-text-fill: rgb(255,255,255);
    -fx-border-width: 4px;
    -fx-box-sizing: border-box;
}

.popup:hover {
    -fx-background-color: rgb(71,125,67);
}

.context_menu {
    -fx-background-color: rgb(83,173,76);
}

.piece {
    -fx-border-style: none;
    -fx-border-width: 4px;
    -fx-border-collapse: separate;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-text-fill: transparent;
    -fx-background-size: cover;
    -fx-box-sizing: border-box;
}

.user {
    -fx-border-color: rgb(13, 87, 5);
    -fx-background-color: rgb(43, 117, 35);
}

.user:hover {
    -fx-border-color: rgb(63,137,55);
}

.machine {
    -fx-border-color: rgb(73, 79, 72);
}

.machine:hover {
    -fx-border-color: rgb(93,99,92);
}

.neutral {
    -fx-border-color: rgb(110,80,50);
}

.neutral:hover {
    -fx-border-color: rgb(130,100,70);
}

.ground {
    -fx-background-color: rgb(161, 128, 77);
}

.lake {
    -fx-background-color: rgb(86, 152, 219);
    -fx-border-color: rgb(66,132,199);
}

.soldier {
    -fx-background-image: url('./images/soldier.png');
}

.bomb {
    -fx-background-image: url('./images/bomb.png');
}

.spy {
    -fx-background-image: url('./images/spy.png');    
}

.marshal {
    -fx-background-image: url('./images/marshal.png');    
}

.gunsmith {
    -fx-background-image: url('./images/gunsmith.png');
}

.flag {
    -fx-background-image: url('./images/flag.png');

}